
<h2 class="header">FEEDBACK FORM</h2>
<form>
    <div class="container">
       <div> 
      <label for="fname">Employer First Name</label>
    <input class="text" type="text" name="firstname" placeholder="Your name">
</div>
    <div>
        <label  for="lname">Employer Last Name</label>
        <input class="text" type="text" name="lastname" placeholder="Your last name">
    </div>
    <div>
        <label for="Email">Mail id</label>
        <input class="text" type="email" name="mailid" placeholder="Your mail id">
</div>
<div>
    <label for="country" >Country</label>
    <select class="text" name="country">
        <option value="none" >Select country</option>
        <option  value="india">India</option>
        <option value="germany">Germany</option>
    </select>
</div>
<div>
    <label for="feed_back">FeedBack</label>
    <textarea class="text" name="subject" placeholder="write something"></textarea>
</div>
<div class="submit">
    <input type="submit" value="submit">
</div>
    </div>

</form>